# Summarising data

In [2]:
import pandas as pd

In [3]:
safi = pd.read_csv("data/SAFI_clean.csv")

In [4]:
safi.head()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,1,God,2016-11-17T00:00:00Z,3,4,muddaub,1,NaN,NaN,1,bicycle;television;solar_panel;table,2,Jan,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,God,2016-11-17T00:00:00Z,7,9,muddaub,1,yes,once,3,cow_cart;bicycle;radio;cow_plough;solar_panel;...,2,Jan;Sept;Oct;Nov;Dec,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,God,2016-11-17T00:00:00Z,10,15,burntbricks,1,NaN,NaN,1,solar_torch,2,Jan;Feb;Mar;Oct;Nov;Dec,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,God,2016-11-17T00:00:00Z,7,6,burntbricks,1,NaN,NaN,2,bicycle;radio;cow_plough;solar_panel;mobile_phone,2,Sept;Oct;Nov;Dec,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,God,2016-11-17T00:00:00Z,7,40,burntbricks,1,NaN,NaN,4,motorcyle;radio;cow_plough;mobile_phone,2,Aug;Sept;Oct;Nov,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [5]:
# get summary statistics for numeric variables
safi.describe()

           key_ID  no_membrs   years_liv       rooms   liv_count    no_meals
count  131.000000  131.00000  131.000000  131.000000  131.000000  131.000000
mean    85.473282    7.19084   23.053435    1.740458    2.366412    2.603053
std     63.151628    3.17227   16.913041    1.092547    1.082775    0.491143
min      1.000000    2.00000    1.000000    1.000000    1.000000    2.000000
25%     32.500000    5.00000   12.000000    1.000000    1.000000    2.000000
50%     66.000000    7.00000   20.000000    1.000000    2.000000    3.000000
75%    138.000000    9.00000   27.500000    2.000000    3.000000    3.000000
max    202.000000   19.00000   96.000000    8.000000    5.000000    3.000000

In [40]:
# get summary statistics for only 'no_membrs' variable
safi.no_membrs.describe()

count    131.00000
mean       7.19084
std        3.17227
min        2.00000
25%        5.00000
50%        7.00000
75%        9.00000
max       19.00000
Name: no_membrs, dtype: float64

In [41]:
# return only the minimum value for no_membrs variable
safi.no_membrs.min()

2

In [42]:
# get unique values for categorial variable 'respondent_wall_type'
pd.unique(safi.respondent_wall_type)

array(['muddaub', ' muddaub', ' burntbricks', 'burntbricks', 'sunbricks',
       'cement'], dtype=object)

In [43]:
# return all column names to check
safi.columns

Index(['key_ID', 'village', 'interview_date', 'no_membrs', 'years_liv',
       'respondent_wall_type', 'rooms', 'memb_assoc', 'affect_conflicts',
       'liv_count', 'items_owned', 'no_meals', 'months_lack_food',
       'instanceID'],
      dtype='object')

In [44]:
# read in the data and remove whitespace while importing
safi = pd.read_csv('data/SAFI_clean.csv',
                  skipinitialspace = True)

In [45]:
# get unique values again --> check the difference to line Out[15]
pd.unique(safi.respondent_wall_type)

array(['muddaub', 'burntbricks', 'sunbricks', 'cement'], dtype=object)

In [46]:
# count the nr of observations in variable respondent_wall_type
safi.respondent_wall_type.count()

131

## Exercise
# %load code/counts
1. Get the unique entries for the `affect_conflicts` variable
2. Get the count value for `affect_conflicts` and compare it with the count for `respondent_wall_type`.
3. Why do you think they are different?

In [47]:
# 1.
pd.unique(safi.affect_conflicts)

array([nan, 'once', 'never', 'more_once', 'frequently'], dtype=object)

In [48]:
# 2. note, the output here is 92 instead of 131, why?
safi.affect_conflicts.count()

92

In [49]:
# let's have a look at the actual data in wall types and conflicts
# --> 'affect_conflicts' has a lot of NaN (= missing) values, 
# missing values are ignored by .count()
safi[["respondent_wall_type","affect_conflicts"]]

    respondent_wall_type affect_conflicts
0                muddaub              NaN
1                muddaub             once
2            burntbricks              NaN
3            burntbricks              NaN
4            burntbricks              NaN
5                muddaub              NaN
6                muddaub            never
7            burntbricks            never
8            burntbricks            never
9            burntbricks            never
10             sunbricks              NaN
11           burntbricks            never
12           burntbricks            never
13           burntbricks              NaN
14             sunbricks             once
15               muddaub              NaN
16             sunbricks              NaN
17               muddaub              NaN
18           burntbricks              NaN
19           burntbricks              NaN
20           burntbricks            never
21               muddaub              NaN
22           burntbricks              NaN
23           burntbricks            never
24           burntbricks            never
25           burntbricks            never
26           burntbricks              NaN
27               muddaub        more_once
28           burntbricks       frequently
29               muddaub              NaN
..                   ...              ...
101            sunbricks       frequently
102            sunbricks            never
103            sunbricks              NaN
104            sunbricks            never
105          burntbricks            never
106              muddaub              NaN
107          burntbricks        more_once
108              muddaub            never
109            sunbricks              NaN
110          burntbricks            never
111          burntbricks              NaN
112              muddaub              NaN
113          burntbricks       frequently
114          burntbricks       frequently
115              muddaub            never
116            sunbricks            never
117          burntbricks       frequently
118          burntbricks            never
119              muddaub            never
120              muddaub            never
121          burntbricks            never
122          burntbricks            never
123            sunbricks            never
124          burntbricks            never
125          burntbricks             once
126          burntbricks        more_once
127               cement        more_once
128              muddaub        more_once
129          burntbricks        more_once
130          burntbricks              NaN

[131 rows x 2 columns]

In [8]:
# check whether there are missing values in the dataframe
# missing values will be denoted with True
safi.isna()    # in an older version of pandas this may work with safi.isnull()

,key_ID,village,interview_date,no_membrs,years_liv,respondent_wall_type,rooms,memb_assoc,affect_conflicts,liv_count,items_owned,no_meals,months_lack_food,instanceID
0,False,False,False,False,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False,False,False,False,False
5,False,False,False,False,False,False,False,True,True,False,True,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,True,True,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,True,True,False,False,False,False,False
16,False,False,False,False,False,False,False,True,True,False,False,False,False,False
17,False,False,False,False,False,False,False,True,True,False,False,False,False,False
18,False,False,False,False,False,False,False,True,True,False,False,False,False,False
19,False,False,False,False,False,False,False,True,True,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,True,False,False,False
21,False,False,False,False,False,False,False,True,True,False,False,False,False,False
22,False,False,False,False,False,False,False,True,True,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,True,True,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,True,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,False,False,False,False,False,False,False,False,False,False,False,False,False,False
102,False,False,False,False,False,False,False,False,False,False,False,False,False,False
103,False,False,False,False,False,False,False,True,True,False,False,False,False,False
104,False,False,False,False,False,False,False,False,False,False,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,True,True,False,False,False,False,False
107,False,False,False,False,False,False,False,False,False,False,False,False,False,False
108,False,False,False,False,False,False,False,False,False,False,False,False,False,False
109,False,False,False,False,False,False,False,True,True,False,False,False,False,False
110,False,False,False,False,False,False,False,False,False,False,False,False,False,False
111,False,False,False,False,False,False,False,True,True,False,False,False,False,False
112,False,False,False,False,False,False,False,True,True,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False,False,False,False,False
116,False,False,False,False,False,False,False,False,False,False,False,False,False,False
117,False,False,False,False,False,False,False,False,False,False,False,False,False,False
118,False,False,False,False,False,False,False,False,False,False,False,False,False,False
119,False,False,False,False,False,False,False,False,False,False,False,False,False,False
120,False,False,False,False,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,False,False,False,False,False
122,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,False,False,False,False
127,False,False,False,False,False,False,False,False,False,False,False,False,False,False
128,False,False,False,False,False,False,False,False,False,False,False,False,False,False
129,False,False,False,False,False,False,False,False,False,False,False,False,False,False
130,False,False,False,False,False,False,False,True,True,False,False,False,False,False

In [51]:
# sum up the missing data, i.e. all entries with True
# True in python is also represented by the number 1, so we can add up
safi.isna().sum()    # you may have to use safi.isnull().sum() if you have an older pandas version

key_ID                   0
village                  0
interview_date           0
no_membrs                0
years_liv                0
respondent_wall_type     0
rooms                    0
memb_assoc              39
affect_conflicts        39
liv_count                0
items_owned             10
no_meals                 0
months_lack_food         0
instanceID               0
dtype: int64

In [52]:
safi.affect_conflicts.isna().sum()

39

In [66]:
# drop all rows (observations) that have any missing values from the dataframe
safi_dropna = safi.dropna()

In [67]:
safi_dropna.shape

(88, 14)

### Split-apply-combine
calculate summary statistics per group

In [70]:
# group data by village
group_data = safi.groupby("village")

In [81]:
# show summary statistics per village
group_data.describe()

         key_ID                                                          \
          count        mean        std   min   25%    50%    75%    max
village
Chirodzo   39.0   62.487179  44.261705   8.0  44.5   55.0   64.5  200.0
God        43.0   81.720930  77.863839   1.0  14.5   40.0  168.5  202.0
Ruaca      49.0  107.061224  55.024013  23.0  72.0  113.0  152.0  194.0

         liv_count            ...  rooms      years_liv                        \
             count      mean  ...    75%  max     count       mean        std
village                       ...
Chirodzo      39.0  2.256410  ...    3.0  8.0      39.0  23.615385  16.718435
God           43.0  2.232558  ...    2.0  5.0      43.0  20.418605  13.097133
Ruaca         49.0  2.571429  ...    2.0  4.0      49.0  24.918367  19.832462


          min   25%   50%   75%   max
village
Chirodzo  1.0  13.0  20.0  29.5  70.0
God       1.0  11.0  20.0  23.5  49.0
Ruaca     2.0  12.0  22.0  34.0  96.0

[3 rows x 48 columns]

In [82]:
group_data.describe()["rooms"]

          count      mean       std  min  25%  50%  75%  max
village
Chirodzo   39.0  1.974359  1.385777  1.0  1.0  2.0  3.0  8.0
God        43.0  1.534884  0.908920  1.0  1.0  1.0  2.0  5.0
Ruaca      49.0  1.734694  0.952530  1.0  1.0  1.0  2.0  4.0

In [83]:
# group by two different variables
group_data2 = safi.groupby(["village", "respondent_wall_type"])

In [84]:
group_data2.mean()["no_membrs"]

village   respondent_wall_type
Chirodzo  burntbricks             8.181818
          muddaub                 5.625000
          sunbricks               6.000000
God       burntbricks             7.473684
          muddaub                 5.466667
          sunbricks               7.888889
Ruaca     burntbricks             7.730769
          cement                  7.000000
          muddaub                 7.000000
          sunbricks               8.285714
Name: no_membrs, dtype: float64

In [85]:
group_data2.mean()["rooms"]

village   respondent_wall_type
Chirodzo  burntbricks             2.590909
          muddaub                 1.187500
          sunbricks               1.000000
God       burntbricks             1.684211
          muddaub                 1.266667
          sunbricks               1.666667
Ruaca     burntbricks             2.000000
          cement                  3.000000
          muddaub                 1.333333
          sunbricks               1.428571
Name: rooms, dtype: float64

Note: averaging individual mean values is not the same as a total average, e.g. the overall mean of rooms in all villages is different to the average of the mean values of rooms in the individual villages. The operation of averaging mean values is mathematically different to calculating the overall mean value! compare also 
https://math.stackexchange.com/questions/95909/why-is-an-average-of-an-average-usually-incorrect and https://en.wikipedia.org/wiki/Simpson%27s_paradox

## Exercise
# %load code/groupby.py
1. Read in the SAFI_clean.csv dataset.

In [86]:
safi_ex = pd.read_csv('data/SAFI_clean.csv')

2. Get a list of the different `rooms` values.

In [87]:
# unique values in rooms variable
pd.unique(safi_ex['rooms'])

array([1, 3, 5, 2, 4, 8])

3. Groupby `rooms` and describe the results. (using `.describe`)

In [88]:
# only showing results for 'no_membrs' column
safi_ex.groupby("rooms").describe()["no_membrs"]

       count       mean       std   min    25%   50%    75%   max
rooms
1       73.0   6.205479  2.592505   2.0   4.00   6.0   7.00  15.0
2       33.0   8.090909  3.761346   3.0   5.00   7.0  10.00  19.0
3       17.0   8.352941  2.620620   2.0   7.00   8.0  11.00  12.0
4        5.0   9.800000  1.788854   7.0  10.00  10.0  10.00  12.0
5        2.0  13.500000  2.121320  12.0  12.75  13.5  14.25  15.0
8        1.0   4.000000       NaN   4.0   4.00   4.0   4.00   4.0

4. Remove all rows with NaN values.

In [89]:
safi_ex_na = safi_ex.dropna()

5. repeat steps 2 & 3 and compare the results.

In [90]:
# unique values --> note, that the 8 in rooms in not there anymore
pd.unique(safi_ex_na['rooms'])

array([1, 3, 5, 2, 4])

In [91]:
# summary(description) for 'no_membrs' column by room
safi_ex_na.groupby("rooms").describe()["no_membrs"]

       count       mean       std   min    25%   50%    75%   max
rooms
1       44.0   6.886364  2.738323   2.0   5.00   6.5   8.25  15.0
2       25.0   8.520000  4.114203   3.0   5.00   7.0  11.00  19.0
3       14.0   8.928571  1.979288   6.0   7.25   8.0  11.00  12.0
4        3.0   9.666667  2.516611   7.0   8.50  10.0  11.00  12.0
5        2.0  13.500000  2.121320  12.0  12.75  13.5  14.25  15.0

In [32]:
# If you want to check the version of your pandas library
# (note: __ = 2 x underscore)
pd.__version__

'0.23.4'